<div class="container-fluid">
  <div class="container">
    <h1 class="">Contact</h1>
    <hr>
    <article>
      <strong> Director:</strong> Roberto Leo Porraz
    </article>
<article>
  <strong>Address: </strong> <a target="-blank" href="https://www.google.com/search?q=Ave.+San+Judas+Tadeo+172+Col.+Carboneras%2C+Mineral+de+la+Reforma+Estado+de+Hidalgo+C.P.+42183&rlz=1C1OKWM_enMX831MX831&oq=Ave.+San+Judas+Tadeo+172+Col.+Carboneras%2C+Mineral+de+la+Reforma+Estado+de+Hidalgo+C.P.+42183&aqs=chrome..69i57.1437j0j1&sourceid=chrome&ie=UTF-8#"> Ave. San Judas Tadeo 172
      Col. Carboneras, Mineral de la Reforma
      Estado de Hidalgo C.P. 42183 </a>
      
</article>
<article>
<strong>Phone: </strong>254.00.74
771.699.1044

</article>

<article>
    <strong>e-mail: </strong>publikozas@gmail.com
    </article>
    
    
  </div>
</div>