<div class="container-fluid">
  <div class="container">
    <h1>Publikozas</h1>
    <hr>
    <p>
        Publikozas is a 100% Mexican company that started operations in
        2008, since then offers products of the highest quality, providing
        integral solutions in promotional, advertising, corporate identity,
        decoration, communication and personalized products, where creativity and
        ideas have no limit.
    </p>
    <p>Obtain the satisfaction of each one of our clients, providing the best solution using and providing products of the best quality and fair price as well as comply with delivery time and agreed quality standards.</p>

    <h1 class="mt-5">Our Clients</h1>
    <hr>
    <img src="../../../assets/images/GOBH.png" alt="Hidalgo Goberment">
    <img src="../../../assets/images/IHDLM.jpg" alt="INSTITUTO HIDALGUENSE DE LAS MUJERES">
    <img src="../../../assets/images/PAN.png" alt="PAN">
    <img src="../../../assets/images/PRI.png" alt="PRI">
    <img src="../../../assets/images/pro&con.jpg" alt="PRO&CON">


  </div>
</div>