<footer class=" font-small fixed-bottom mt-5">
  <div class="footer-copyright text-center py-3">© {{year |date:'yyy' }} Copyright:
    <a href="./home" class="mr-3"> Publikozas</a>
    <a target="-blank" href="https://www.facebook.com/cyntiaZP"> <img src="./assets/images/facebook.png" alt="FB"></a>
    <a target="-blank" href="https://twitter.com/CyntiaZP"> <img src="./assets/images/twitter.png" alt="twitter"></a>
    <a target="-blank" href="https://www.instagram.com/cyntiazp/?hl=es-la"> <img src="./assets/images/instagram.png"
        alt="instagram"></a>
  </div>
</footer>